wsl-mule-usecases/mule-xa-tx-jms-jdbc/src/test/resources/user.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="user" type="userType"/>
  <xs:complexType name="userType">
    <xs:sequence>
      <xs:element type="xs:byte" name="id"/>
      <xs:element type="xs:string" name="name"/>
      <xs:element type="xs:byte" name="age"/>
      <xs:element type="xs:string" name="empid"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>